# Copie este arquivo para .env.local e preencha com os valores do seu projeto Supabase
VITE_SUPABASE_URL=https://glhxtdwxggpfeeyqsrhw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsaHh0ZHd4Z2dwZmVleXFzcmh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MTAyMzksImV4cCI6MjA5MzA4NjIzOX0.dZtaAI8hDvwR0b6SxZRh0C61I6pOg2NjVmIWTzHjmj0
ITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsaHh0ZHd4Z2dwZmVleXFzcmh3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzUxMDIzOSwiZXhwIjoyMDkzMDg2MjM5fQ.DF1cRCzSLBB47UiMrLEIo07_fHaJm1ZjV8e2aYwdeZc